<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <style>
        .username {
            margin-left: 15px;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-right: 5px;
            font-family:Verdana;
        }
        #login{
            margin:5px;
        }
        #Reg {
            margin: 5px;
        }
        
        footer {
            
            color:black !important; 
        }
        .navbar-brand {
            color: black !important;
            font-size: 20px;
            margin-right: 100px;
        }
        
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NixStore</a>
                <form class="form-inline my-2 my-lg-0" action="@Url.Action("Index", "Search")" method="get">
                    <input class="form-control mr-sm-2" type="text" name="query" placeholder="Поиск" value="" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
                <span class="navbar-text ml-auto">
                    @{

                        if (Context.Session.TryGetCart(out Cart cart) && cart.TotalCount > 0)
                        {
                            <a href="@Url.Action("Index","Order")">Продуктов @cart.TotalCount на @cart.TotalPrice.ToString("#.##")</a>
                        }



                        else
                        {
                            <a href="@Url.Action("Index","Order")">Корзина пуста</a>

                        }

                    }

                </span>

                @if (User.Identity.IsAuthenticated)
                {
                    <p class="username">@User.Identity.Name</p>

                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Выйти" />
                    </form>
                }
                else
                {
                    <a id="login" asp-controller="Account" asp-action="Login">Вход</a>
                    <a id="Reg" asp-controller="Account" asp-action="Register">Регистрация</a>
                }
            </div>
        </nav>
    </header>


    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">All rights reserved </p>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a  class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
