@model IReadOnlyCollection<Store.Web.App.ProductModel>

@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1>Результат поиска</h1>

@if (Model.Count() == 0)
{
    <p>Ничего не найдено</p>
}
else
{

    @foreach (var u in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@u.Image" alt="@u.Name">
            <div class="card-body">
                <h5 class="card-title">@u.Name</h5>
                <p>Цена: @u.Price.ToString("#.##") грн </p>
                <a href="@Url.Action("Index","Product", new { id = u.Id })" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    }

}






