@using Web.Models
@using ProdStore.Data
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<H1>Каталог товаров</H1>
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }
    
   
    .glyphicon-chevron-left:before {
        content: "\f053";
    }
    img{
        width:300px;
        height:400px;
    }
    .card{
        margin:20px;
    }
    #filter{
        margin-left:20px;
    }
</style>
<a asp-action="Index"  asp-route-sortOrder="@(Model.SortViewModel.PriceSort)">Сортировать по цене</a>
<a asp-action="Index"  asp-route-sortOrder="@(Model.SortViewModel.NameSort)">Сортировать по имени</a>
<form method="get">
    <div class="form-inline form-group">
        <select name="category">
            <option value="">Выберите категорию</option>
            <option value="Сладости">Сладости</option>
            <option value="Напитки">Напитки</option>
            <option value="Сыр">Сыр</option>
            <option value="Замороженная продукция">Замороженная продукция</option>
            <option value="Колбасы">Колбасы</option>
        </select>

        <input id="filter" type="submit" value="Фильтр" class="btn btn-outline-dark btn-sm" />
    </div>
</form>
<div class="row mt-5 mb-2">
    @{
        foreach (ProductDto u in Model.ProductDtos)
        {
            

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@u.Image" alt="@u.Name">
                <div class="card-body">
                    <h5 class="card-title">@u.Name</h5>
                    <p>Цена: @u.Price.ToString("#.##") грн </p>
                    <p >@u.Volume</p>
                    <a href="@Url.Action("Index","Product", new { id = u.Id })" class="btn btn-primary">Подробнее</a>
                </div>
            </div>

        }
    }

</div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        back
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-outline-dark">
        forward
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}