@model Store.Web.App.ProductModel

@{
    ViewData["Title"] = Model.Name;
}
<style>
    img {
        width: 600px;
        height: 520px;
    }
    .image-holder {
        width: 600px;
        height: 520px;
    }
    .btn{
        margin-top:30px;
    }
    .main{
        display:flex;
    }
</style>




<div class="main">
    <div class="image-holder"><img src="@Model.Image" alt="@Model.Name"></div>
    <div class="container-sm">
        <h2>@Model.Name</h2>
        <h4>Цена <strong>@Model.Price.ToString("#.##")</strong> грн</h4>
        <p >@Model.Volume</p>
        <form action="@Url.Action("AddItem","Order")" method="post">
            
            <p><input type="number" name="count" value="" min="1" placeholder="Введите кол-во" /></p>
            <input type="hidden" name="id" value="@Model.Id" />
            <button class="btn btn-lg btn-outline-dark" type="submit">Add to Cart</button>
        </form>
    </div>
</div>




       
